$btn-font-weight: 500;
$btn-font-size: 13px;
$btn-color: rgba(0, 0, 0, .87);
$btn-bgcolor: #fafafa;
$btn-padding: 0 12px;
$btn-border: 1px solid transparent;
$btn-border-radius: 2px;
$btn-text-transform: none;
$btn-small-font-size: 12px;
$btn-small-padding: 0 12px;
$btn-bigger-padding: 0 16px;
$btn-bigger-small-padding: 0 16px;
$btn-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
$btn-hover-bgcolor: rgba(0, 0, 0, .12);
$btn-active-bgcolor: rgba(255, 255, 255, .12);
$btn-active-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2);
$btn-disabled-color: rgba(0, 0, 0, .26);
$btn-primary-color: #fff;
$btn-primary-bgcolor: #ff4081;
$btn-primary-hover-bgcolor: #e03872;
$btn-primary-active-bgcolor: #ff5790;
$btn-flat-color: #ff4081;
$btn-flat-bgcolor: transparent;
$btn-flat-box-shadow: none;
$btn-flat-active-bgcolor: rgba(255, 87, 144, .12);
$btn-flat-primary-active-bgcolor: rgba(255, 87, 144, .12);
$btn-flat-success-active-bgcolor: rgba(0, 77, 68, .12);
$btn-flat-info-active-bgcolor: rgba(11, 125, 218, .12);
$btn-flat-warning-active-bgcolor: rgba(204, 92, 0, .12);
$btn-flat-danger-active-bgcolor: rgba(154, 24, 24, .12);
$btn-outline-bgcolor: transparent;
$btn-outline-hover-bgcolor: rgba(0, 0, 0, .12);
$btn-outline-active-bgcolor: rgba(0, 0, 0, .12);
$btn-outline-disabled-bgcolor: transparent;
$btn-outline-border-color: #adadad;
$btn-success-color: #fff;
$btn-success-bgcolor: #689f38;
$btn-success-hover-color: #fff;
$btn-success-hover-bgcolor:  #449d44;
$btn-success-disabled-bgcolor: #00695c;
$btn-info-color: #fff;
$btn-info-bgcolor: #2196f3;
$btn-info-hover-color: #fff;
$btn-info-hover-bgcolor: #0b7dda;
$btn-info-disabled-bgcolor: #2196f3;
$btn-warning-color: #fff;
$btn-warning-bgcolor: #ef6c00;
$btn-warning-hover-color: #fff;
$btn-warning-hover-bgcolor: #cc5c00;
$btn-warning-disabled-bgcolor: #ef6c00;
$btn-danger-color: #fff;
$btn-danger-bgcolor: #d84315;
$btn-danger-hover-color: #fff;
$btn-danger-hover-bgcolor: #ba3912;
$btn-danger-disabled-bgcolor: #b71c1c;
$btn-link-color: #0d47a1;
$btn-link-bgcolor: transparent;
$btn-link-border-color: transparent;
$btn-link-hover-color: #0a3576;
$btn-link-disabled-bgcolor: transparent;
