$btn-font-weight: 500;
$btn-font-size: 13px;
$btn-color: rgba(0, 0, 0, .87);
$btn-bgcolor: #fafafa;
$btn-padding: 0 12px;
$btn-border: 1px solid;
$btn-border-color: transparent;
$btn-disabled-border: $btn-border;
$btn-border-radius: 2px;
$btn-hover-border-color: $btn-border-color;
$btn-active-border-color: $btn-border-color;
$btn-hover-color: $btn-color;
$btn-focus-color: $btn-color;
$btn-active-color: $btn-color;
$btn-small-height: 24px;
$btn-height: 27px;
$btn-bigger-height: 36px;
$btn-bigger-small-height: 32px;
$btn-focus-border-color: $btn-border-color;
$btn-text-transform: none;
$btn-small-font-size: 12px;
$btn-small-padding: 0 12px;
$btn-bigger-padding: 0 16px;
$btn-bigger-small-padding: 0 16px;
$btn-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
$btn-hover-bgcolor: rgba(0, 0, 0, .12);
$btn-active-bgcolor: rgba(255, 255, 255, .12);
$btn-active-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2);
$btn-disabled-color: rgba(0, 0, 0, .26);
$btn-disabled-bgcolor: $btn-hover-bgcolor;
$btn-disabled-border-color: $btn-border-color;
$btn-primary-color: #fff;
$btn-primary-bgcolor: #ff4081;
$btn-primary-hover-color: #fff;
$btn-primary-focus-color: #fff;
$btn-primary-active-color: #fff;
$btn-primary-hover-bgcolor: #e03872;
$btn-primary-active-bgcolor: #ff5790;
$btn-primary-border-color: $btn-border-color;
$btn-primary-hover-border-color: $btn-border-color;
$btn-primary-focus-border-color: $btn-border-color;
$btn-primary-active-border-color: $btn-border-color;
$btn-success-border-color: $btn-border-color;
$btn-success-hover-border-color: $btn-border-color;
$btn-success-focus-border-color: $btn-border-color;
$btn-success-active-border-color: $btn-border-color;
$btn-info-border-color: $btn-border-color;
$btn-info-hover-border-color: $btn-border-color;
$btn-info-focus-border-color: $btn-border-color;
$btn-info-active-border-color: $btn-border-color;
$btn-warning-border-color: $btn-border-color;
$btn-warning-hover-border-color: $btn-border-color;
$btn-warning-focus-border-color: $btn-border-color;
$btn-warning-active-border-color: $btn-border-color;
$btn-danger-border-color: $btn-border-color;
$btn-danger-hover-border-color: $btn-border-color;
$btn-danger-focus-border-color: $btn-border-color;
$btn-danger-active-border-color: $btn-border-color;
$btn-flat-color: #ff4081;
$btn-flat-border: $btn-border;
$btn-flat-border-color: transparent;
$btn-flat-hover-color: $btn-flat-color;
$btn-flat-focus-color: $btn-flat-color;
$btn-flat-active-color: $btn-flat-color;
$btn-flat-bgcolor: transparent;
$btn-flat-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-primary-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-success-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-info-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-warning-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-danger-hover-bgcolor: $btn-hover-bgcolor;
$btn-flat-box-shadow: none;
$btn-flat-active-bgcolor: rgba(255, 87, 144, .12);
$btn-flat-primary-active-bgcolor: rgba(255, 87, 144, .12);
$btn-flat-success-active-bgcolor: rgba(0, 77, 68, .12);
$btn-flat-info-active-bgcolor: rgba(11, 125, 218, .12);
$btn-flat-warning-active-bgcolor: rgba(204, 92, 0, .12);
$btn-flat-danger-active-bgcolor: rgba(154, 24, 24, .12);
$btn-flat-border-color: transparent;
$btn-outline-bgcolor: transparent;
$btn-outline-hover-bgcolor: rgba(0, 0, 0, .12);
$btn-outline-active-bgcolor: rgba(0, 0, 0, .12);
$btn-outline-disabled-bgcolor: transparent;
$btn-outline-border-color: #adadad;
$btn-success-color: #fff;
$btn-success-bgcolor: #689f38;
$btn-success-hover-color: #fff;
$btn-success-hover-bgcolor:  #449d44;
$btn-success-disabled-bgcolor: #00695c;
$btn-info-color: #fff;
$btn-info-bgcolor: #2196f3;
$btn-info-hover-color: #fff;
$btn-info-hover-bgcolor: #0b7dda;
$btn-info-disabled-bgcolor: #2196f3;
$btn-warning-color: #fff;
$btn-warning-bgcolor: #ef6c00;
$btn-warning-hover-color: #fff;
$btn-warning-hover-bgcolor: #cc5c00;
$btn-warning-disabled-bgcolor: #ef6c00;
$btn-danger-color: #fff;
$btn-danger-bgcolor: #d84315;
$btn-danger-hover-color: #fff;
$btn-danger-hover-bgcolor: #ba3912;
$btn-danger-disabled-bgcolor: #b71c1c;
$btn-link-color: #0d47a1;
$btn-link-bgcolor: transparent;
$btn-link-border-color: transparent;
$btn-link-hover-color: #0a3576;
$btn-link-disabled-bgcolor: transparent;
$btn-outline-color: $btn-color;
$btn-outline-hover-color: $btn-color;
$btn-outline-focus-color: $btn-color;
$btn-outline-active-color: $btn-color;
$btn-outline-focus-bgcolor: $btn-outline-hover-bgcolor;
$btn-bigger-font-size: $btn-font-size;
$btn-bigger-small-font-size: $btn-font-size;
$btn-icon-font-size: 11px;
$btn-small-icon-font-size: 11px;
$btn-bigger-icon-font-size: 11px;
$btn-bigger-small-icon-font-size: 11px;
$btn-round-bgcolor: $btn-bgcolor;
$btn-round-color: $btn-color;
$btn-round-border-color: $btn-border-color;
$btn-round-hover-bgcolor: $btn-hover-bgcolor;
$btn-round-hover-color: $btn-color;
$btn-round-height: 42px;
$btn-round-width: 42px;
$btn-round-bigger-height: 56px;
$btn-round-bigger-width: 56px;
$btn-round-font-size: 14px;
$btn-small-round-font-size: 12px;
$btn-bigger-round-font-size: 16px;
$btn-bigger-small-round-font-size: 14px;
$btn-success-focus-bgcolor: $btn-success-hover-bgcolor;
$btn-success-active-bgcolor: $btn-success-hover-bgcolor;
$btn-info-focus-bgcolor: $btn-info-hover-bgcolor;
$btn-info-active-bgcolor: $btn-info-hover-bgcolor;
$btn-warning-focus-bgcolor: $btn-warning-hover-bgcolor;
$btn-warning-active-bgcolor: $btn-warning-hover-bgcolor;
$btn-danger-focus-bgcolor: $btn-danger-hover-bgcolor;
$btn-danger-active-bgcolor: $btn-danger-hover-bgcolor;
$btn-flat-success-color:  $btn-success-bgcolor;
$btn-flat-info-color:  $btn-info-bgcolor;
$btn-flat-warning-color:  $btn-warning-bgcolor;
$btn-flat-danger-color:   $btn-danger-bgcolor;
$btn-flat-primary-hover-color: $btn-primary-bgcolor;
$btn-flat-success-hover-color: $btn-success-bgcolor;
$btn-flat-info-hover-color: $btn-info-bgcolor;
$btn-flat-warning-hover-color: $btn-warning-bgcolor;
$btn-flat-danger-hover-color: $btn-danger-bgcolor;
$btn-flat-primary-focus-color: $btn-primary-bgcolor;
$btn-flat-success-focus-color: $btn-success-bgcolor;
$btn-flat-info-focus-color: $btn-info-bgcolor;
$btn-flat-warning-focus-color: $btn-warning-bgcolor;
$btn-flat-danger-focus-color: $btn-danger-bgcolor;
$btn-flat-primary-active-color: $btn-primary-bgcolor;
$btn-flat-success-active-color: $btn-success-bgcolor;
$btn-flat-info-active-color: $btn-info-bgcolor;
$btn-flat-warning-active-color: $btn-warning-bgcolor;
$btn-flat-danger-active-color: $btn-danger-bgcolor;
$btn-icon-margin-left: -12px;
$btn-icon-margin-right: -12px;
$btn-bigger-icon-margin-left: -12px;
$btn-bigger-icon-margin-right: -12px;
$btn-bigger-small-icon-margin-left: -12px;
$btn-bigger-small-icon-margin-right: -12px;
$btn-round-icon-line-height: 28px;
$btn-small-round-icon-line-height: 18px;
$btn-text-line-height: 25px;
$btn-bigger-text-line-height: 35px;
$btn-icon-padding: 0 7px;
$btn-small-icon-padding: 0 5px;
$btn-bigger-icon-padding: 0 8px;
$btn-bigger-small-icon-padding: 0 7px;
