$btn-font-weight: 600;
$btn-font-size: 14px;
$btn-small-font-size: 12px;
$btn-bigger-font-size: 16px;
$btn-bigger-small-font-size: 15px;
$btn-color: $neutral-light-font;
$btn-small-height: 26px;
$btn-height: 32px;
$btn-bigger-height: 40px;
$btn-bigger-small-height: 36px;
$btn-bgcolor:  $neutral-lighter;
$btn-padding: 0 20px;
$btn-border-color:  $neutral-lighter;
$btn-hover-bgcolor:  $neutral-light;
$btn-hover-border-color: $neutral-light;
$btn-hover-color: $neutral-light-fontalt;
$btn-focus-border-color: $theme-primary;
$btn-focus-color: $neutral-light-font;
$btn-active-border-color: $theme-primary;
$btn-active-bgcolor: $theme-primary;
$btn-active-color: $theme-primary-font;
$btn-border-radius: 0;
$btn-text-transform: none;
$btn-small-padding: 0 16px;
$btn-bigger-padding: 0 24px;
$btn-bigger-small-padding: 0 22px;
$btn-box-shadow: none;
$btn-active-box-shadow: $btn-box-shadow;
$btn-disabled-color: $neutral-tertiary;
$btn-disabled-bgcolor: $btn-bgcolor;
$btn-disabled-border-color: $btn-border-color;
$btn-primary-color: $theme-primary-font;
$btn-primary-hover-color: $theme-dark-font;
$btn-primary-focus-color: $theme-dark-font;
$btn-primary-active-color: $theme-primary-font;
$btn-primary-bgcolor: $theme-primary;
$btn-primary-hover-bgcolor: $theme-dark;
$btn-primary-active-bgcolor: $theme-primary;
$btn-primary-border-color: $theme-primary;
$btn-primary-hover-border-color: $theme-dark;
$btn-primary-focus-border-color: $theme-darker;
$btn-primary-active-border-color: $btn-primary-border-color;
$btn-flat-color: $theme-primary;
$btn-flat-border: none;
$btn-flat-hover-color: $theme-darker;
$btn-flat-focus-color: $theme-dark;
$btn-flat-active-color: $theme-primary;
$btn-flat-bgcolor: transparent;
$btn-flat-hover-bgcolor: $btn-flat-bgcolor;
$btn-flat-primary-hover-bgcolor: $btn-flat-bgcolor;
$btn-flat-success-hover-bgcolor: $btn-flat-bgcolor;
$btn-flat-info-hover-bgcolor: $btn-flat-bgcolor;
$btn-flat-warning-hover-bgcolor: $btn-flat-bgcolor;
$btn-flat-danger-hover-bgcolor: $btn-flat-bgcolor;
$btn-flat-box-shadow: $btn-box-shadow;
$btn-flat-active-bgcolor: $btn-flat-bgcolor;
$btn-flat-primary-active-bgcolor: $btn-flat-bgcolor;
$btn-flat-success-active-bgcolor: $btn-flat-bgcolor;
$btn-flat-info-active-bgcolor: $btn-flat-bgcolor;
$btn-flat-warning-active-bgcolor: $btn-flat-bgcolor;
$btn-flat-danger-active-bgcolor: $btn-flat-bgcolor;
$btn-outline-bgcolor: transparent;
$btn-outline-color: $theme-primary;
$btn-outline-hover-bgcolor: $theme-primary;
$btn-outline-hover-color: $theme-primary-font;
$btn-outline-focus-bgcolor: $theme-dark;
$btn-outline-focus-color: $theme-dark-font;
$btn-outline-active-color: $theme-primary-font;
$btn-outline-active-bgcolor: $theme-primary;
$btn-outline-border-color: $theme-primary;
$btn-icon-font-size: $btn-font-size;
$btn-small-icon-font-size: $btn-small-font-size;
$btn-bigger-icon-font-size: $btn-bigger-font-size;
$btn-bigger-small-icon-font-size: $btn-bigger-font-size;
$btn-round-bgcolor: $btn-bgcolor;
$btn-round-color: $btn-color;
$btn-round-border-color: $btn-border-color;
$btn-round-hover-bgcolor: $btn-hover-bgcolor;
$btn-round-hover-color: $btn-hover-color;
$btn-round-height: 36px;
$btn-round-width: 36px;
$btn-round-bigger-height: 46px;
$btn-round-bigger-width: 46px;
$btn-success-bgcolor: #107c10;
$btn-success-hover-bgcolor: #004b1c;
$btn-success-focus-bgcolor: $btn-success-hover-bgcolor;
$btn-success-active-bgcolor: $btn-success-bgcolor;
$btn-success-border-color: $btn-success-bgcolor;
$btn-success-hover-border-color: $btn-success-hover-bgcolor;
$btn-success-focus-border-color: #013201;
$btn-success-active-border-color: $btn-success-bgcolor;
$btn-info-bgcolor: #2196f3;
$btn-info-hover-bgcolor: #065fa6;
$btn-info-focus-bgcolor: $btn-info-hover-bgcolor;
$btn-info-active-bgcolor: $btn-info-bgcolor;
$btn-info-border-color: $btn-info-bgcolor;
$btn-info-hover-border-color: $btn-info-hover-bgcolor;
$btn-info-focus-border-color: #04487d;
$btn-info-active-border-color: $btn-info-bgcolor;
$btn-warning-bgcolor: #d83b01;
$btn-warning-hover-bgcolor: #a22c01;
$btn-warning-focus-bgcolor: $btn-warning-hover-bgcolor;
$btn-warning-active-bgcolor: $btn-warning-bgcolor;
$btn-warning-border-color: $btn-warning-bgcolor;
$btn-warning-hover-border-color: $btn-warning-hover-bgcolor;
$btn-warning-focus-border-color: #62220a;
$btn-warning-active-border-color: $btn-warning-bgcolor;
$btn-danger-bgcolor: #a80000;
$btn-danger-hover-bgcolor: #7e0000;
$btn-danger-focus-bgcolor: $btn-danger-hover-bgcolor;
$btn-danger-active-bgcolor: $btn-danger-bgcolor;
$btn-danger-border-color: $btn-danger-bgcolor;
$btn-danger-hover-border-color: $btn-danger-hover-bgcolor;
$btn-danger-focus-border-color: #540000;
$btn-danger-active-border-color: $btn-danger-bgcolor;
$btn-round-font-size: 16px;
$btn-small-round-font-size: 14px;
$btn-bigger-round-font-size: 20px;
$btn-bigger-small-round-font-size: 18px;
$btn-flat-success-color:  #107c10;
$btn-flat-info-color:  #2196f3;
$btn-flat-warning-color:  #d83b01;
$btn-flat-danger-color:   #a80000;
$btn-flat-primary-hover-color:  #004578;
$btn-flat-success-hover-color:  #004b1c;
$btn-flat-info-hover-color: #065fa6;
$btn-flat-warning-hover-color:  #a22c01;
$btn-flat-danger-hover-color: #7e0000;
$btn-flat-primary-focus-color: #005a9e;
$btn-flat-success-focus-color: #409640;
$btn-flat-info-focus-color: #387fb8;
$btn-flat-warning-focus-color: #cd5e40;
$btn-flat-danger-focus-color: #ad3f3f;
$btn-flat-primary-active-color: #0078d7;
$btn-flat-success-active-color: #107c10;
$btn-flat-info-active-color: #2196f3;
$btn-flat-warning-active-color: #d83b01;
$btn-flat-danger-active-color: #a80000;
$btn-icon-margin-left: -8px;
$btn-icon-margin-right: -8px;
$btn-bigger-icon-margin-left: -11px;
$btn-bigger-icon-margin-right: -11px;
$btn-bigger-small-icon-margin-left: -8px;
$btn-bigger-small-icon-margin-right: -8px;
$btn-round-icon-line-height: 26px;
$btn-small-round-icon-line-height: 16px;
$btn-text-line-height: 2em;
$btn-bigger-text-line-height: 2em;
