@include export-module('button-layout') {
  /*! button layout */
  .e-btn {
    border-radius: $btn-border-radius;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    height: 27px;
    justify-content: center;
    line-height: 25px;
    padding: $btn-padding;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    @at-root {
      &:disabled {
        cursor: default;
      }

      & .e-btn-icon {
        display: inline-block;
        font-size: 11px;
        height: 25px;
        line-height: 25px;
        margin-top: -2px;
        vertical-align: middle;
        width: auto;

        &.e-icon-left {
          margin-left: -12px;
          width: 27px;
        }

        &.e-icon-right {
          margin-right: -12px;
          width: 27px;
        }
      }

      &.e-round {
        border-radius: 50%;
        height: 42px;
        line-height: 1;
        padding: 0;
        width: 42px;

        & .e-btn-icon {
          font-size: 14px;
          height: 24px;
          line-height: 24px;
          width: auto;
        }
      }

      &.e-rtl {
        & .e-icon-right {
          margin-left: -12px;
          margin-right: 0;
        }

        & .e-icon-left {
          margin-left: 0;
          margin-right: -12px;
        }
      }

      &.e-small {
        font-size: $btn-small-font-size;
        height: 24px;
        line-height: 22px;
        padding: $btn-small-padding;

        & .e-btn-icon {
          height: 22px;
          line-height: 22px;
          width: 12px;

          &.e-icon-left {
            margin-left: -12px;
            width: 24px;
          }

          &.e-icon-right {
            margin-right: -12px;
            width: 24px;
          }
        }

        &.e-round {
          height: 30px;
          line-height: 1;
          padding: 0;
          width: 30px;

          & .e-btn-icon {
            font-size: 12px;
            height: 16px;
            line-height: 16px;
            width: auto;
          }
        }

        &.e-rtl {
          & .e-icon-right {
            margin-left: -12px;
            margin-right: 0;
          }

          & .e-icon-left {
            margin-left: 0;
            margin-right: -12px;
          }
        }
      }
    }
  }

  .e-bigger {
    &.e-btn,
    & .e-btn {
      height: 36px;
      line-height: 35px;
      padding: $btn-bigger-padding;

      & .e-btn-icon {
        height: 34px;
        line-height: 34px;
        width: 18px;

        &.e-icon-left {
          margin-left: -16px;
          width: 36px;
        }

        &.e-icon-right {
          margin-right: -16px;
          width: 36px;
      }
    }

      &.e-round {
        height: 56px;
        line-height: 1;
        padding: 0;
        width: 56px;

        & .e-btn-icon {
          font-size: 16px;
          height: 24px;
          line-height: 24px;
          width: auto;
        }
      }

      &.e-rtl {
        & .e-icon-right {
          margin-left: -16px;
          margin-right: 0;
        }

        & .e-icon-left {
          margin-left: 0;
          margin-right: -16px;
        }
      }

      &.e-small {
        height: 32px;
        line-height: 30px;
        padding: $btn-bigger-small-padding;

        & .e-btn-icon {
          height: 30px;
          line-height: 30px;
          width: 16px;

          &.e-icon-left {
            margin-left: -16px;
            width: 32px;
          }

          &.e-icon-right {
            margin-right: -16px;
            width: 32px;
          }
        }

        &.e-round {
          height: 40px;
          line-height: 1;
          padding: 0;
          width: 40px;

          & .e-btn-icon {
            font-size: 14px;
            height: 24px;
            line-height: 24px;
            width: auto;
          }
        }

        &.e-rtl {
          & .e-icon-right {
            margin-left: -16px;
            margin-right: 0;
          }

          & .e-icon-left {
            margin-left: 0;
            margin-right: -16px;
          }
        }
      }
    }
  }
}
