$btn-color: rgba($grey-black, .87);
$btn-bgcolor: $grey-50;
$btn-border-radius: 2px;
$btn-text-transform: uppercase;
$btn-box-shadow: 0 2px 5px 0 rgba($grey-black, .26);
$btn-hover-bgcolor: rgba($grey-black, .12);
$btn-active-bgcolor: rgba($grey-white, .12);
$btn-active-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2);
$btn-disabled-color: rgba($grey-black, .26);
$btn-primary-color: $grey-dark-font;
$btn-primary-bgcolor: $accent;
$btn-primary-hover-bgcolor: #e03872;
$btn-primary-active-bgcolor: #ff5790;
$btn-flat-color: $accent;
$btn-flat-bgcolor: transparent;
$btn-flat-box-shadow: none;
$btn-flat-active-bgcolor: rgba(255, 87, 144, .12);
$btn-flat-primary-active-bgcolor: rgba(255, 87, 144, .12);
