@include export-module('checkbox-layout') {
  /*! checkbox layout */
  .e-checkbox-wrapper {
    cursor: pointer;
    display: inline-block;
    outline: none;
    position: relative;
    user-select: none;
    @at-root {

      label {
        cursor: pointer;
        display: inline-block;
        margin: 0;
      }

      &:focus {
        & .e-frame {
          box-shadow: $focussed-box-shadow;
        }
      }

      &.e-checkbox-disabled {
        cursor: default;
        pointer-events: none;

        & .e-frame {
          cursor: default;
        }

        & .e-label {
          cursor: default;
        }
      }

      & .e-checkbox {
        height: 1px;
        opacity: 0;
        position: absolute;
        width: 1px;

        +.e-frame,
        +.e-label {
          margin-right: $margin;
        }
      }

      & .e-frame {
        border: $border;
        border-radius: $border-radius;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-family: 'e-icons';
        height: $height;
        line-height: $lineheight;
        padding: $padding;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: $width;

        +.e-label {
          margin-left: $margin;
        }
      }

      & .e-check {
        font-size: $check-fontsize;

        &::before {
          content: $checkmark-content;
        }
      }

      & .e-stop {
        font-size: $indeterminate-fontsize;
        line-height: $indeterminate-lineheight;

        &::before {
          content: $indeterminate-content;
        }
      }

      & .e-label {
        cursor: pointer;
        display: inline;
        font-family: $font-family;
        font-size: $font-size;
        font-weight: normal;
        user-select: none;
        vertical-align: middle;

        +.e-frame {
          margin-left: $margin;
        }
      }

      &.e-rtl {
        & .e-frame,
        & .e-label {
          margin-left: 0;
          margin-right: $margin;
        }

        & .e-checkbox {
          +.e-frame,
          +.e-label {
            margin-left: $margin;
            margin-right: 0;
          }
        }
      }

      & .e-ripple-container {
        border-radius: 50%;
        bottom: $ripple-size;
        left:  $ripple-size;
        position: absolute;
        right:  $ripple-size;
        top:  $ripple-size;
      }

      &.e-small {
        & .e-frame {
          height: $small-height;
          line-height: $small-lineheight;
          width: $small-width;
        }

        & .e-check {
          font-size: $small-check-fontsize;
        }

        & .e-stop {
          font-size: $small-indeterminate-fontsize;
          line-height: $small-indeterminate-lineheight;
        }

        & .e-label {
          font-size: $small-font-size;
        }

        & .e-ripple-container {
          bottom:  $ripple-small-size;
          left: $ripple-small-size;
          right: $ripple-small-size;
          top: $ripple-small-size;
        }
      }
    }
  }

  &.e-bigger {
    &.e-checkbox-wrapper,
    & .e-checkbox-wrapper {
      & .e-frame {
        height: $bigger-height;
        line-height: $bigger-lineheight;
        margin-left: $bigger-margin;
        margin-right: $bigger-margin;
        width: $bigger-width;
      }

      & .e-check {
        font-size: $bigger-check-fontsize;
      }

      & .e-stop {
        font-size: $bigger-indeterminate-fontsize;
        line-height: $bigger-indeterminate-lineheight;
      }

      & .e-label {
        font-size: $bigger-font-size;
        margin-left: $bigger-margin;
        margin-right: $bigger-margin;
      }

      & .e-ripple-container {
        bottom: $ripple-bigger-size;
        left: $ripple-bigger-size;
        right: $ripple-bigger-size;
        top: $ripple-bigger-size;
      }

      &.e-small {
        & .e-frame {
          height: $bigger-small-height;
          line-height: $bigger-small-lineheight;
          width: $bigger-small-width;
        }

        & .e-check {
          font-size: $bigger-small-check-fontsize;
        }

        & .e-stop {
          font-size: $bigger-small-indeterminate-fontsize;
          line-height: $bigger-small-indeterminate-lineheight;
        }

        & .e-label {
          font-size: $bigger-small-font-size;
        }

        & .e-ripple-container {
          bottom: $ripple-bigger-small-size;
          left: $ripple-bigger-small-size;
          right: $ripple-bigger-small-size;
          top: $ripple-bigger-small-size;
        }
      }
    }
  }
}
